<IfModule mod_rewrite.c>
RewriteEngine on
Options -Indexes
Options -Multiviews
SetEnv TZ Asia/Jakarta
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php